*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:white;
transition:0.4s;
}

nav{
display:flex;
justify-content:space-between;
align-items:center;
padding:15px;
background:#222;
color:white;
}

nav ul{
display:flex;
list-style:none;
gap:20px;
}

nav li{
cursor:pointer;
}

.page{
display:none;
padding:30px;
}

.active{
display:block;
}

.cards{
display:flex;
gap:20px;
margin-top:20px;
flex-wrap:wrap;
}

.card{
background:#f3f3f3;
padding:20px;
border-radius:10px;
width:250px;
}

input,
textarea{
width:100%;
padding:10px;
margin-top:10px;
margin-bottom:10px;
}

button{
padding:10px 20px;
margin-right:10px;
cursor:pointer;
}

ul{
margin-top:20px;
}

li{
margin-bottom:10px;
}

.pink{
background:#ffe4ec;
}

.blue{
background:#e4f2ff;
}

.white{
background:white;
}

@media(max-width:768px){

nav{
flex-direction:column;
}

nav ul{
flex-direction:column;
margin-top:10px;
}

}